body {
background: rgba(21, 21, 122, 0.712);
font: normal 15pt arial;
}
header {
color: white;
text-align: center;
}
section {
background: rgb(255, 252, 252);
border-radius: 10px;
padding: 10px;
width: 70%;
margin: auto;
box-shadow: 5px 5px 10px rgba(19, 19, 18, 0.616);
font:normal 15pt arial;
text-align: center;
}

footer {
    text-align: center;
    font: italic 5pt arial;
    color: rgb(255, 255, 255);

}